.about-section {
  background-color: $background-light;
}

.about-container {
  display: flex;
  justify-content: space-around;
  padding: 5em 0 5em 0;
}

.about-element {
  text-align: justify;
  width: 30%;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
    padding: 2em;
  }

  &__description {
    margin: 0;
    font-size: 1.2em;
    padding: 1em;
  }
}

//  ======================== Tablet breakpoint =======================

@media (max-width: $tablet-breakpoint) {
  .about-container {
    flex-direction: column;
    align-items: center;

  }

  .about-element {
    width: 90%;

    &__description {
      font-size: 1.6em;
    }


    &__icon {
      height: 23vmin;
    }
  }
}


// ========================= Mobile Breakpoint =======================

@media (max-width: $mobile-breakpoint) {
  
  .about-element {

    &__icon {
      height: 30vmin;
    }
  }
}