%input-base {
  width: 30vw;
  margin: 1.5em;
  padding: 1em;
  border: none;
  border-radius: .7em;
  background-color: $form-bg;
  color: $white;

  &::placeholder {
    color: $white;
    font-size: 1.25em;
  }
}


.contact-section {
  background-color: $background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5vmax 0;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;

    &__title {
      font-weight: 600;
      font-size: 2.5em;
      margin: 0;
      padding-bottom: 1em;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__email {
      @extend %input-base;
      height: 3em;
    }

    &__name {
      @extend %input-base;
      height: 4em;
    }

    &__message {
      @extend %input-base;
      height: 8em;
    }

    &__btn {
      @extend %btn;
      margin: 1em 0 1em 0;
      text-align: center;
    }
  }

  &__popup {
    position: fixed;
    border: 1px solid $primary-color;

    right: 0;
    bottom: 15vh;

    &__inner {
      background-color: $background-light;
      padding: 2em;
    }
  }
}

.footer {
  text-align: center;
}

@media (max-width: 750px) {
  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      align-items: center;
      width: 90%;

      &__title {
        text-align: center;
      }
    }

    &__form {
      width: 80%;

      &__email,
      &__name,
      &__message {
        width: 100%;
      }
    }

  }
}

