@import "./general";


.home-section {
  background-color: $background-dark;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
  list-style-type: none;
  
  &__link {
    font-size: 1.2em;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.logo {
  width: 4em;
  height: 4em;
}


.modal {
  background-color: $background-dark;
  color: $primary-color;
  text-decoration: none;
  border:none;
  outline: none;
  cursor: pointer;
  padding: 1em 1em 0 1em;
}



.home-container {
  display: flex;
  // margin-top: 2em;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5vw;
  }
}

.home-text {
  flex: 1;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 3em;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }

  &__name {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
  }

  &__description {
    font-size: 1.1em;
    width: 70%;
    margin: 0;
  }

  &__buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5em;
  }
}

.profile-picture {
  display: flex;
  height: 45vw;
  justify-content: center;
  margin: 0 auto;
}

.btn-home {
  @extend %btn;
  margin: 1em 0 1em 0;
}

.btn-home--inverted {
  @extend %btn-inverted;
  margin: 1em 0 1em 0;
}

// ======================== Tablet Resolution =================================

@media (max-width: $tablet-breakpoint) {

  .navigation {
    position: absolute;
    flex-direction: column;
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $background-light;
  }
  
  .home-container {
    justify-content: center;
    
    margin: 0;
    padding: 0 1em 20vh 1em;

    &__content {
      padding: 0;
      align-items: center;
    }
  }

  .logo {
    width: 5.5em;
    height: 5.5em;
  }

  .home-text {
    padding: 0;
    text-align: center;

    &__title {
      font-size: 4.5em;
      padding-top: 4em;
    }

    &__name {
      font-size: 5em;
    }

    &__description {
      width: 80%;
      font-size: 1.7em;
      text-align: center;
      margin: 0 auto;
    }
    &__buttons {
      width: 70%;
      font-size: 1.4em;
      margin: 0 auto;
    }
  }
}


// ======================== Mobile Resolution ================================

@media (max-width: $mobile-breakpoint) {

  .navigation {
    font-size: 1.8em;
  }

  .home-text {

    &__title {
      font-size: 3.5em;
    }

    &__name {
      font-size: 4em;
    }

    &__description {
      font-size: 1.4em;
    }
    &__buttons {
      font-size: 1.2em;
      width: 80%;
    }
  }
}