@import "./general";


.home-section {
  background-color: $background-dark;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
  list-style-type: none;
  
  &__link {
    font-size: 1.2em;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}


.modal {
  background-color: $background-dark;
  color: $primary-color;
  text-decoration: none;
  border:none;
  outline: none;
  cursor: pointer;
  padding: 1em;
}

.home-container {
  display: flex;
  margin-top: 2em;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5vw;
  }
}

.home-text {
  flex: 1;
  color: $white;

  padding-top: 10em;

  &__title {
    font-size: 3em;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }

  &__name {
    font-size: 4em;
    font-weight: 400;
    margin: 0;
  }

  &__description {
    font-size: 1.1em;
    width: 60%;
    margin: 0;
  }

  &__buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5em;
  }
}

.profile-picture {
  display: flex;
  width: 35em;
  justify-content: center;
  margin: 0 auto;
}

.btn-home {
  @extend %btn;
  margin: 1em 0 1em 0;
}

.btn-home--inverted {
  @extend %btn-inverted;
  margin: 1em 0 1em 0;
}

@media (max-width: 750px) {
  
  .home-container {
    justify-content: center;
    
    padding: 7em 1em 6em 1em;

    &__content {
      padding: 0;
      align-items: center;
    }
  }

  .home-text {
    padding: 0;
    text-align: center;

    &__description {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
    &__buttons {
      width: 90%;
      margin: 0 auto;
    }
  }
}