$project-padding: 1.5rem;

%title-base {
  width: 70%;
  font-size: 2em;
  margin: 0;
}

%description-base {
  width: 70%;
  font-size: 1.2em;
  margin: .8em 0 0 0;
}


.projects-section {
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__span {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.project {
  display: flex;
  background-color: $project-container;
  margin: 2em;
  border-radius: 1.25em;
  box-shadow: 2px 2px 2px black;
  min-width: 60%;
  height: 30vw;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    &--inverted {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: right;
  
        &__title {
          @extend %title-base;
          padding-right: $project-padding;
        }
        
      
        &__description {
          @extend %description-base;
          padding-right: $project-padding;
        }
      
        &__btn {
          @extend %btn;
          margin: 1em $project-padding 1em 0;
        }
    }


    &__title {
      @extend %title-base;
      padding-left: $project-padding;
    }
    
  
    &__description {
      @extend %description-base;
      padding-left: $project-padding;
    }
  
    &__btn {
      @extend %btn;
      margin: 1em 0 1em $project-padding;
    }

  }


  &__graphic {
    width: 50%;
    height: 100%;
    border-radius: 1.25em 0 1.25em 0;
    background-color: gray;
  }

}


.btn-project {
  @extend %btn;
  margin: 2em;
  text-align: center;
}

//  =============================== Tablet breakpoint =====================


@media (max-width: $tablet-breakpoint) {
  .project {
    width: 85%;
    height: 45vw;

    &__content {

      &--inverted {

        &__title {
          font-size: 1.8em;
        }

        &__description {
          width: 80%;
          font-size: 1.2em;
        }
      
        &__btn {
          font-size: 1.3em;
        }
      }
      &__title {
        font-size: 1.8em;
      }
    
      &__description {
        font-size: 1.2em;
        width: 80%;
      }
    
      &__btn {
        font-size: 1.3em;
      }
    }
  }

  .btn-project {
    font-size: 1.6em;
  }
}


// ============================ Mobile Breakpoint ======================


@media (max-width: $mobile-breakpoint) {
  .project {
    height: 50vw;

    &__content {

      &--inverted {
        &__title {
          font-size: 1.2em;
        }
      
        &__description {
          font-size: 1em;
          width: 80%;
        }
      
        &__btn {
          font-size: 1.1em;
        }
      }
      &__title {
        font-size: 1.2em;
      }
    
      &__description {
        font-size: 1em;
        width: 80%;
      }
    
      &__btn {
        font-size: 1.1em;
      }
    }
  }
}