%title-base {
  width: 70%;
  font-size: 2em;
  margin: 0;
}

%description-base {
  width: 70%;
  font-size: 1.2em;
  margin: .8em 0 0 0;
}


.projects-section {
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__span {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.project {
  display: flex;
  background-color: $project-container;
  margin: 2em;
  border-radius: 1.25em;
  box-shadow: 2px 2px 2px black;
  min-width: 60%;
  height: 30vw;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;


    &__title {
      @extend %title-base;
      padding-left: 2rem;
    }
    
  
    &__description {
      @extend %description-base;
      padding-left: 2rem;
    }
  
    &__btn {
      @extend %btn;
      margin: 1em 0 1em 2rem;
    }

    &--inverted {
      
      &__title {
        @extend %title-base;
      }
      
    
      &__description {
        @extend %description-base;
      }
    
      &__btn {
        @extend %btn;
        margin: 1em 0 1em 2rem;
      }
    }
  }

  &__graphic {
    width: 50%;
    height: 100%;
    border-radius: 1.25em 0 1.25em 0;
    background-color: gray;
  }

}


.btn-project {
  @extend %btn;
  margin: 2em;
  text-align: center;
}



@media (max-width: $mobile-breakpoint) {
  .project {
    height: 50vw;

    &__content {
      &__title {
        font-size: 1.3em;
      }
    
      &__description {
        width: 80%;
      }
    
      &__btn {
        font-size: 1.2em;
      }
    }
  }
}