.tech-section {
  background-color: $background-dark;
  width: 100%;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em 3em;
  align-items: center;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1vw;
      background-color: $background-dark;
      color: $icon-light;
      text-decoration: none;
      border: 2px solid $icon-light;
      outline: none;
      cursor: pointer;
      border-radius: 1.4em;
      width: 9vw;

      &--selected {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1vw;
        background-color: $primary-color;
        color: $background-dark;
        text-decoration: none;
        border: 2px solid $primary-color;
        outline: none;
        cursor: pointer;
        border-radius: 1.4em;
        width: 9vw;
      }

      &:hover {
        color: $primary-color;
        border: 2px solid $primary-color;
      }
    }
  }
}

.tech-text {
  padding: 5em 2em 10em 2em;
  text-align: center;

  &__title {
    margin: 0;
    font-size: 2.5em;
  }

  &__description {
    margin: 1em auto;
    width: 70%;
    font-size: 1.3em;
  }
}

//  ======================== Tablet breakpoint ========================


@media (max-width: $tablet-breakpoint) {

  .tech-stack {
    margin: 3.5em 1em;

    &__column__icon,
    &__column__icon--selected {
      width: 22vw;
    }
  }

  .tech-text {
    padding: 5em 1em 10em 1em;
  }
  
}
