$background-dark: #1C232E;
$background-light: #222A36;
$primary-color: #FF6D70;
$form-bg: #272E39;
$white: #ECECEE;
$icon-light: #6E7788;
$project-container: #3E4756;
$transition: all 0.4s linear;
$mobile-breakpoint: 800px;