:root {
  --background-dark: #1C232E;
  --background-light: #222A36;
  --primary-color: #FF6D70;
  --form-bg: #272E39;
  --white: #ECECEE;
  --icon-light: #6E7788;
  --project-container: #3E4756;
}


html, body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--white);
}

/*  -------------------- images ------------------- */

.profile-picture {
  display: flex;
  width: 30%;
  /* padding-left: 4vmax; */
  justify-content: center;
  margin: 0 auto;
}

/* --------------------- General --------------- */

.social-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.social-icon {
  padding-right: 2em;
}

.section-header {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.4em;
}

.section-header div {
  margin: 0 auto;
}

.underline {
  height: 1px;
  width: 6rem;
  background-color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
}

.home {
  background-color: var(--background-dark);
  width: 100%;
}

/* ---------- Nav bar ------- */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vmax;
}

.logo {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  padding: 1em;
  margin: 1em;
  border-radius: 1rem;
}

.link {
  font-size: 1.2vmax;
  padding: 1em;
}

/* -------- Home container ------------ */

.home-container {
  display: flex;
  margin-top: 3em;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.home-title,
.home-name,
.home-description,
.home-buttons {
  width: 70%;
}

.home-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.home-text {
  height: 90%;
  padding: 0 0 0 4vmax;
}

.home-title {
  font-size: 2.5vmax;
  color: var(--primary-color);
  margin: 0;
}

.home-name {
  font-size: 4vmax;
  color: var(--white);
  margin: 0;
}

.home-description {
  font-size: 1vmax;
  color: var(--white);
  margin: 0;
  width: 80;
}



/* ----------------- about ----------------------- */

.about {
  background-color: var(--background-light);
}

.about-container {
  display: flex;
  justify-content: space-around;
  padding: 6vmax;
}

.about-icon {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 15vmin;
}

.about-element {
  text-align: justify;
  width: 20%;
}

/*  ---------------------- tech -------------------- */

.tech {
  background-color: var(--background-dark);
  height: 100vh;
  width: 100%;
}

.tech-stack {
  justify-content: center;
  margin: 5vmax 6vmax;
  display: grid;
  margin-bottom: 2em;
  border: 1px solid black;
  grid-template-rows: repeat(4, 3vmin);
  grid-template-columns: repeat(4, 13vmin);
}

/* ---------------- projects ------------------- */

.projects {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: flex;
  background-color: var(--project-container);
  margin: 2rem;
  border-radius: 1.25em;
  box-shadow: 2px 2px 2px black;
  width: 450px;
  height: 225px;
}

.project-graphic {
  width: 50%;
  height: 100%;
  background-color: gray;
}

.project-content {
  width: 50%;
  /* padding: 0 2em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}

.project-description {
  font-size: .5rem;
  margin: .3em 0 0 0;
}

.btn-project {
  font-size: .7rem;
  width: 6em;
  margin: 0;
  text-align: center;
}

/* ------------------ contact ------------ */

.contact {
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 8vmax 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 3vmin; */
  width: 35vw;
}

.contact-title {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

.contact-description {
  margin-top: .5em;
  width: 100%;
  color: #AFAFAF;
}

input::placeholder {
  color: var(--white);
  font-size: 1rem;
  padding-left: 2em;
}

.form-email,
.form-subject,
.form-message {
  width: 30vw;
  height: 7vh;
  margin: 1rem;
  border: none;
  border-radius: .7em;
  background-color: var(--form-bg);
}

.form-message {
  height: 15vh;
}

.btn-form {
  width: 5em;
  font-size: 1.5rem;
  text-align: center;
  margin: 1em 0 1em 0;
}

.footer {
  text-align: center;
}

.footer p {
  margin: 1.25em 0;
}

.btn {
  margin: 1em 0 1em 0;
  padding: 0.4em 1em;
  background-color: var(--primary-color);
  color: var(--background-dark);
  text-decoration: none;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 1.4em;
}

.btn-inverted {
  margin: 1em 0 1em 0;
  padding: 0.4em 1em;
  border: 1px solid var(--primary-color);
  background-color: var(--background-dark);
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 1.4em;
}
